*{
    box-sizing:border-box;
}

body{
    margin:0;
    padding:0;
    background-color:rgb(0, 0, 0);
    display:flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    overflow:hidden;
}

.container{
    width:500px;
    height:500px;
    background-color: #ccc;
    border-radius: 50%;
    border:15px solid #ccc;
    position: absolute;
    overflow: hidden;
    transition: 5s;
}

.container div{
    height: 50%;
    width: 200px;
    position: absolute;
    clip-path: polygon(100% 0 , 50% 100% , 0 0 );
    transform: translateX(-50%);
    transform-origin:bottom;
    text-align:center;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    color:#fff;
    left:135px
}


.container .one{
    background-color: rgb(197, 37, 37);
    left: 50%;
}

.container .two{
    background-color: blue;
    transform: rotate(45deg);
}

.container .three{
    background-color: green;
    transform: rotate(90deg);
}

.container .four{
    background-color: yellow;
    transform: rotate(135deg);
}

.container .five{
    background-color: purple;
    transform: rotate(180deg);
}

.container .six{
    background-color: pink;
    transform: rotate(225deg);
}

.container .seven{
    background-color: rgb(0, 79, 128);
    transform: rotate(270deg);
}

.container .eight{
    background-color: rgb(201, 198, 44);
    transform: rotate(315deg);
}

.arrow{
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    color:#fff;
}

.arrow::before{
    content:"\1F817";
    font-size:80px;
}

#spin{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    z-index:10;
    background-color: #ccc;
    text-transform: uppercase;
    border: 8px solid #fff;
    font-weight: bold;
    font-size: 20px;
    color: #a2a2a2;
    width: 80px;
    height: 80px;
    font-family: sans-serif;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    letter-spacing: 1px;
}